<!DOCTYPE html>
<html>
	<head>
		<title>Aggiungi o rimuovi fornitori</title>
		<link  rel="stylesheet" th:href="@{/css/1template.css}"/>
	</head>
	<body>
	<header th:replace="fragments/base.html::intestazione"></header>
		<h1>Fornitori correnti: </h1>
			<div th:each="supplier:${currentSuppliers}">
				<form th:action="@{/updateSupplierForProduct/{idProduct}/{idSupplier} (idSupplier=${supplier.id}, idProduct=${product.id})}" method="POST" th:object="${product}">
					<button type="submit">
						<li th:text="${supplier.name}"> Nome </li> 
					</button>
				</form>
			</div>
		<h1>Altri fornitori disponibili: </h1> 
			<div th:each="otherSupplier:${newSuppliers}">
				<form th:action="@{/updateSupplierForProduct/{idProduct}/{idSupplier} (idSupplier=${otherSupplier.id}, idProduct=${product.id})}" method="POST" th:object="${product}">
					<button type="submit">
						<li th:text="${otherSupplier.name}"> Nome </li> 
					</button>
				</form>
			</div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>