<!DOCTYPE html>
<html>
	<head>
		<title th:text="${product.name}">Modifica prodotto</title>
		<link  rel="stylesheet" th:href="@{/css/1template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<h1 th:text="${product.name}"> Prodotto </h1>
		<div>
			<span th:text="${messaggioErrore}"> </span>
		</div>
		<div>
			<a th:href="@{/updateSupplierForProduct/{idProduct} (idProduct=${product.id})}"> Aggiungi o rimuovi fornitori </a>
		</div>
		<div>
			<a th:href="@{/updateProductInfo/{idProduct} (idProduct=${product.id})}"> Aggiorna le informazioni del prodotto </a>
		</div>
		<div>
			<form th:action="@{/deleteProduct/{idProduct} (idProduct=${product.id})}" method="POST"> 
			<button type="submit"> Rimuovi questo prodotto </button> 
			</form>
		</div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>