<!DOCTYPE html>
<html>
	<head>
		<title>Esplora il catalogo</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
		<a href="formSearchProduct.html" th:href="@{/formSearchProductByName}"> 
			<div> Esplora i prodotti in ordine alfabetico</div>
		</a>
		<a href="formSearchProduct.html" th:href="@{/formSearchProductByPrice}"> 
			<div> Esplora i prodotti in ordine di prezzo </div>
		</a>
		<a href="formSearchProduct.html" th:href="@{/formSearchBySupplier}"> 
			<div> Trova tutti i prodotti di un fornitore </div>
		</a>
	</body>