<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo prodotto</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
	<header th:replace="fragments/base.html::intestazione"></header>
	<h1>Aggiungi un prodotto </h1>
	<form th:action="@{/formNewProduct}" method="POST" th:object="${product}">
	<div th:if="${#fields.globalErrors()}" th:text="${err}">
		<p th:each="err:${#fields.globalErrors()}" th:text="${err}">...</p>
	</div>
	<div>
		<label>Nome:</label> <span><input required type="text" th:field="${product.name}"/></span>
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
	</div>
	<div>
		<label>Descrizione:</label> <span><input required type="text" th:field="${product.description}"/></span>
	</div>
	<div>
		<label>Prezzo:</label> <span><input required type="number" th:field="${product.price}"/></span>
		<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
	</div>
	<div>
	<span><button type="submit">Conferma </button> </span>
	</div>
	</form>
	</body>
</html>