<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<div class="indexAdmin">
		<h1> Indice Prodotti </h1>
		<a href="formNewProduct.html" th:href="@{/formNewProduct}"> 
			<div> Inserisci un prodotto </div>
		</a>
		<a href="manageProduct.html" th:href="@{/manageProduct}"> 
			<div> Gestisci le informazioni di un prodotto </div>
		</a>
		<a href="formSearchProduct.html" th:href="@{/formSearchProduct}"> 
			<div> Esplora il catalogo </div>
		</a>
		<h1> Indice Fornitori </h1>
		<a href="formNewSupplier.html" th:href="@{/formNewSupplier}"> 
			<div> Inserisci un fornitore </div>
		</a>
		<a href="suppliers.html" th:href="@{/suppliers}"> 
			<div> Mostra tutti i fornitori </div>
		</a>
		</div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>