<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
	<header th:replace="fragments/base.html::intestazione"></header>
	<h1>Login </h1>
	<form th:action="@{/login}" method="POST">
	<c:if test="${param.error != null}">
    	<div>
    		Failed to login.
            <c:if test="${SPRING_SECURITY_LAST_EXCEPTION != null}">
            	Reason: <c:out value="${SPRING_SECURITY_LAST_EXCEPTION.message}" />
            </c:if>
        </div>
    </c:if>
	</div>
	<div>
		<label>Username:</label> <span><input required type="text" id="username" name="username"/></span>
	</div>
	<div>
		<label>Password:</label> <span><input required type="password" id="password" name="password"/></span>
	</div>
	<div>
	<span><button type="submit" value="login">Conferma </button> </span>
	</div>
	</form>
	<a href="formRegisterUser.html" th:href="@{/register}"> 
		<div> Registrati </div>
	</a>
	<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>