<!DOCTYPE HTML>
<html>
	<head>
		<title>Logout</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<form th:action="@{/logout}" method="POST">
			<h1>Sicuro di voler fare logout?</h1>
			<div>
				<span><button type="submit"> Conferma </button> </span>
			</div>
			<div> <a th:href="@{/}"> Torna indietro </a> </div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>