<!DOCTYPE html>
<html>
	<head>
		<title>Gestisci prodotti</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
	<header th:replace="fragments/base.html::intestazione"></header>
	<h1>Scegli un prodotto da modificare</h1>
		<div th:if="${products.empty}"> 
			<div> Non ci sono prodotti </div>
		</div>
		<div th:each="product:${products}">
			<a th:href="@{/formUpdateProduct/{idProduct} (idProduct=${product.id})}">
				<li th:text="${product.name}"> Nome prodotto </li> 
			</a>
		</div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>