<!DOCTYPE html>
<html>
	<head>
		<title>Prodotto</title>
		<link  rel="stylesheet" th:href="@{/css/1template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<div th:if="${product}">
			<h1 th:text="${product.name}">Nome</h1>
			<div> Descrizione: <span th:text=${product.description}> Descrizione </span> </div>
			<div> Prezzo: <span th:text="${product.price}+'$'"> Descrizione </span> </div>
			<h2> Fornitori: </h2>
			<div th:each="supplier:${product.suppliers}">
			<a th:href="@{/supplier/{id} (id=${supplier.id})}">
				<li th:text="${supplier.name}"> Nome fornitore </li> 
			</a>
			</div>
			<h2> Commenti dagli utenti: </h2>
			<form th:action="@{/addingComment/{idProduct} (idProduct=${product.id})}" method="POST" th:object="${newComment}">
				<div th:if="${#fields.globalErrors()}" th:text="${err}">
				<p th:each="err:${#fields.globalErrors()}" th:text="${err}">...</p>
				</div>
				<div>
					<label>Titolo:</label> <span><input required type="text" th:field="${newComment.title}"/></span>
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				</div>
				<div>
					<label>Testo:</label> <span><input required type="text" th:field="${newComment.text}"/></span>
					<span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
				</div>
				<div>
				<span><button type="submit">Conferma </button> </span>
				</div>
			</form>
			<div th:each="userComment:${userComments}">
				<div th:text=${userComment.credentials.username}> User </div>
				<div> <span th:text="${userComment.title}+': '"> Titolo: </span> <span th:text=${userComment.text}> Testo </span> </div>
				<div> <a th:href="@{/updateComment/{idProduct}/{idComment} (idProduct=${product.id}, idComment=${userComment.id})}"> Modifica il tuo commento </a> </div>
			</div>
			<div th:each="comment:${comments}">
				<div th:text=${comment.credentials.username}> User </div>
				<div> <span th:text="${comment.title}+': '"> Titolo: </span> <span th:text=${comment.text}> Testo </span> </div>
			</div>
		</div>
		<div th:unless="${product}">Non esiste</div>	
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>
</html>