<!DOCTYPE html>
<html>
	<head>
		<title>Fornitore</title>
		<link  rel="stylesheet" th:href="@{/css/1template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<div th:if="${supplier}">
			<h1 th:text="${supplier.name}">Nome</h1>
			<div> E-mail: <span th:text="${supplier.email}"> Email </span> </div>
			<div> Indirizzo: <span th:text="${supplier.address}"> Indirizzo </span> </div>
		</div>
		<div th:unless="${supplier}">Non esiste</div>
		<footer th:replace="fragments/base.html::footer"></footer>	
	</body>
</html>