<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<link  rel="stylesheet" th:href="@{css/1template.css}"/>
	</head>
	<body>
		<header th:replace="fragments/base.html::intestazione"></header>
		<div class="index">
		<a href="formSearchProduct.html" th:href="@{/formSearchProduct}"> 
			<img src="/media/pacco.png" height=100px width=100px>
			<div> Esplora il catalogo </div>
		</a>
		<a href="suppliers.html" th:href="@{/suppliers}"> 
			<img src="/media/fornitore.png" height=100px width=100px>
			<div> Mostra tutti i fornitori </div>
		</a>
		</div>
		<footer th:replace="fragments/base.html::footer"></footer>
	</body>