header {
  background-color: #33658A;
  color: blue;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  height: 100px;
  flex-direction: column;
  margin:0;
}

div {
	text-align: center;
	font-size: large;
}

article {
	display:flex;
	flex-direction:column;
	height: 100%;
}

nav {
	background-color: #274C68;
	display: flex;
	margin:0;
}

footer {
	background-color: #274C68;
	display: flex;
	margin:0;
	height:80px;
	margin-top: 500px;
	justify-content: center;
	align-items: center;
}

body {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	font-family: 'Courier', monospace;
	color: #341C1C;
	background-color: lightblue;
	font-family: 'Lucida Console', monospace;
}

.index{
	margin:100px;
	display:flex;
  	justify-content: space-around;
  	align-items:center;
  	font-size: x-large;
}

.indexAdmin {
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 200px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(255, 255, 255, 0.5);
}

.indexAdmin div {
	margin: 10px 10px 5px 5px;
}

.indexAdmin h1 {
	margin: 10px 10px 5px 5px;
}

.flex-index {
	justify-content: center;
	margin:8px;
}

a:link {
	text-decoration:none;
	color: #341C1C;
}

a:visited {
	text-decoration:none;
	color: #341C1C;
}

a:hover {
	text-decoration:none;
	color: rgb(0, 0, 255);
}

form {
	display: flex;
	text-align:left;
  	flex-direction: column;
  	justify-content: center;
  	align-items:center;
}

button {
  color: white;
  background-color: blue;
  padding: 5px 10px;
  margin: 4px 2px;
  cursor: pointer;
}

label {
	text-align:left;
	display:table;
}

div, h1 {
	text-align:center;
}

li {
	list-style-type: none;
}
