<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragments="headerfiles(title)">
	<meta charset="UTF-8"/>
	<link th:href="@{/css/1template.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>
<body>
	<article th:fragment="intestazione">
		<nav> <p> <a class="logOut" th:href="@{/getLogout}"> Logout </a> </p> </nav>
		<header>
		<div><img src="/media/logo.png" height=70px width=180px></div>
		<div><a class="homePage" th:href="@{/}">HomePage</a> 
		<a class="homePage" th:href="@{/products}">Prodotti</a> </div> 
		</header>
	</article>
	
	<footer th:fragment="footer">
		<a th:href="@{/}"><img src="/media/logo.png" height=40px width=100px></a>
	</footer>